doctype html
html(ng-app="socketGame")
    head

    body
        div(ng-controller="mainController")#main
            div.game


            div(ng-show="window.stats").stats
                h2 Stats

            div(ng-show="window.login").login
                button(ng-click="login()") Login

            div(ng-show="window.charselect").charselect
                h2 Character Select

            script(src="/socket.io/socket.io.js")
            script(src="/bower_components/angular/angular.min.js")
            script(src="/bower_components/angular-socket-io/socket.min.js")
            script(src="/js/game/main.js")